body {
	margin: 0px;
}

#container {
	width: 80%;
	margin: auto;
	align-content: center;
	background-color: lightblue;
	padding: 10px;
}

#title {
	font-size: 36px;
	font-weight: 600;
	line-height: 72px;
	text-align: center;
}

.content{
	margin: 40px;
	border: 1px solid red;
	padding: 10px;
	text-align: center;
}

#welcome {
	visibility: hidden;
}

.flashcard {
	text-align: center;
}


/* entire container, keeps perspective */
#flip-container {
	perspective: 1000px;
	border: 1px solid lightgray;
	margin: auto;
	background-color: white;

	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}
	/* flip the pane when hovered */
	#flip-container.clicked {
		transform: rotateY(180deg);
	}

#flip-container, .front, .back {
	width: 480px;
	height: 320px;
}


/* hide back of pane during swap */
#front, #back {
	backface-visibility: hidden;
	text-align: center;
	line-height: 250px;
	font-size: 140px;
	float:center;

}

/* front pane, placed above back */
#front {
	margin-top: 35px;
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
#back {
	margin-top: -250px;
	transform: rotateY(180deg);
	z-index: 1;
}

/* to have the card flip virtically add vertical class to flip-container and remove this line <-
.vertical#flip-container {
	position: relative;
}

	.vertical #back {
		transform: rotateX(180deg);
	}

	.vertical#flip-container .flipper {
		transform-origin: 100% 213.5px; /* half of height */
	}

	.vertical#flip-container.clicked {
		transform: rotateX(-180deg);
	}